<!-- <-----------Angular Material----------> 
<!-- <router-outlet></router-outlet>

<cdk-virtual-scroll-viewport itemSize="100" class="container">
    <div class="number" *cdkVirtualFor="let number of numbers"> 
        {{number}}
    </div>
</cdk-virtual-scroll-viewport> -->

<!-- <div class="number" *ngFor="let number of numbers"> 
    {{number}}
</div> -->


<app-header></app-header>
    <div class="row">
        <div class="col-lg-3">
            <app-sidebar></app-sidebar>
        </div>
        <div class="col-lg-9">
    <router-outlet></router-outlet>
        </div>
    </div>

<!-- <app-footer></app-footer> -->









<!-- npm i json-server@0.16.1 -->
<!-- npx json-server --watch db.json -->
<!-- "./node_modules/popper.js/dist/popper.min.js", -->