<div class="card mt-4 mb-2">
    <img class="card-img-top img-fluid" src="http://placehold.it/400x200" alt="" width="50" height="50">
    <div class="card-body">
        <h3 class="card-title">{{productDetails.productName}}</h3>
        <a href="products/update-product/{{productDetails.id}}">Update Product </a>||
        <a href="products/delete-product/{{productDetails.id}}">Delete Product</a>
        <h4>Rs:{{productDetails.price}} </h4>
        <p class="cared-text">{{productDetails.description}}</p>
        <span class="text-warning">{{productDetails.rating}}</span>
         
    </div>
</div>

